/* O CORPO COMPLETO DA PAGINA*/

body{
 background-color:aqua
}

.container{
    display: flex;
    justify-content: space-between;
    background-color:rgb(255,241,222);

    
}
.logo{
    display: flex;
    justify-content: space-between;

}
.menu{
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: space-evenly;
    width: 700px;
    height: 50px;
}
.social{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

/*VAMOS TRATAR DO MENU*/

button{
    width: 100px;
    height: 50px;
    background-color: #a5c5c3;
    border-radius: 20px;
    font-family: 'Curely', sans-serif;

}

