/*TRATANDO IMAGENS NO CSS*/


.lista-receitas{
    display: flex;
    justify-content: space-around;
    width:auto ;
    height:auto ;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.receitabox{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 18px;
    width: 300px;
    background-color:bisque;
    border-radius: 40px;
}


.receita-imagem{
    border-radius: 40px;

}

/*centralizando o texto*/

.overlay{
    text-align: center;
}